// Place all the styles related to the Shopper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shopper {
  h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
    font:  150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
  }
  
  table {
    width: 100%;
  }

  /* An entry in the store catalog */
  .entry {
    
    td {
        border-bottom: 1px dotted #77d;
    }
    
    img {
      width:  90px;
      height: 180px;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;
    }

    .price {
      font-size: 120%;
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }
    a {
      color: #000;

      &:visited {
        color: #666;
      }

      &:hover {
        background-color: #fff;
      }
    }
}
/* END_HIGHLIGHT */

